footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    float: right;
    height: 8px;
    background-color: black;
    box-shadow: -2px 0 8px black;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: none;
}

#contactInfo {
    border-bottom: 5.35px solid grey;
    padding: 15px;
    margin: 0;
    width: auto;
    height: 18.6px;
    text-align: center;
    white-space: nowrap;
    background-color: black;
    font-variant: small-caps;
    font-weight: 400;
    box-shadow: 3px 3px 5px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#contactInfo li{
    color: #ededed;
    display:inline-table;
    text-align: center;
    list-style: none;
    margin: 0 0.25em 0 0.25em;
}

h1{
    text-align: center;
    font-size:  xx-large;
    font-variant: small-caps;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

ul{    margin: 0 0 0 0;    }

a:link{ 
    text-decoration: none;
}

a:visited{
    color: orangered;
}

h2 {
    clear: left;
    margin: 30px 0 0 5px;
    padding: 0;
    font-size: 1.3em;
}

school{
    font-variant: small-caps;
    font-weight: 700;
}

img{
    float: right;
    margin: 8px 15px 0 0;
    box-shadow: 3px 3px 6px grey;
}

.button{
    background-color: #6d55aa;
    border: 1.4px solid black;
    -webkit-text-stroke: black 1.2px;
    color:antiquewhite;
    padding: 4.302px 10px;
    text-decoration: none;
    float: left;
    font-size: 12px;
    text-shadow: 2px 2px 2px #333;
}

.button:hover{
    background-color: #8773b9;
    -webkit-text-stroke: #6d55aa 1px;
    cursor: pointer;
    box-shadow: 1px 1px 6px grey;
}

p{
    margin: 0 5px 4px 5px;
}

#tab{    
    margin: 0 0 20px 30px;
    display: inline-flexbox;
}
.child1{
    width: fit-content;
    height: 230px;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.child2{
    width: fit-content;
    float: left;
}

.base{
    height: 40px;
    width: 260px;
    float: right;
    background-color: #6d55aa;
    box-shadow: -7px 1px 8px black;
    border: 1.3px solid black;
 }