body,
html {
    overflow-x: hidden;
    margin: 0;
    background-color: rgb(255, 246, 232);
    padding: 0;
}

#name {
    /* color: #070707; */
    color: white;
    text-shadow: 2px 2px #070707;
    mix-blend-mode: difference;

    font-size: 4vh;
    text-align: center;
    width: 100%;
    letter-spacing: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    position: fixed;
    top: 12%;
    animation: scroll-name 1s linear 0s infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.info {
    font-size: x-small;
    color: black;
    width: fit-content;
    position: relative;
    height: auto;
    overflow: auto;
}

@keyframes scroll-name {
    to {
        transform: translateY(170vh);
    }
}

#parallax {
    overflow-x: hidden;
    overflow-y: auto;
    /* height: 100vh; */
    /* perspective: 1px; */
}

#parallax-group {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    height: 200vh;
    clip-path: inset(0 0 0 0);
}

.parallax-group div {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.layer {
    position: fixed;
    top: 15vh;
    padding: 0;
    width: 100%;
    height: auto;
    margin: -5vh 0 0;
    overflow-y: visible;
}

.layer svg {
    width: 100%;
    height: auto;
    will-change: position;
}

#l1 {
    mix-blend-mode: screen;
    top: 12%;
    animation: scroll-l1 1s linear 0s infinite;
    animation-timeline: scroll(root);
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}
#l2 {
    top: 22%;
    animation: scroll-l2 1s linear 0s infinite;
    animation-timeline: scroll(root);
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}
#l3 {
    top: 32%;
    animation: scroll-l3 1s linear 0s infinite;
    animation-timeline: scroll(root);
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}
#l4 {
    top: 42%;
    animation: scroll-l4 1s linear 0s infinite;
    animation-timeline: scroll(root);
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}
#l5 {
    top: 52%;
    animation: scroll-l5 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes scroll-l1 {
    to {
        transform: translateY(100vh);
    }
}
@keyframes scroll-l2 {
    to {
        transform: translateY(90vh);
    }
}
@keyframes scroll-l3 {
    to {
        transform: translateY(50vh);
    }
}
@keyframes scroll-l4 {
    to {
        transform: translateY(40vh);
    }
}
@keyframes scroll-l5 {
    to {
        transform: translateY(-20vh);
    }
}

.content {
    position: relative;
    background-color: transparent;
    /* letter-spacing: 10px; */
    /* text-transform: uppercase; */
    /* line-height: 40px; */
    z-index: 50;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 15vh;
    margin-bottom: 19vh;
    padding-bottom: 15vh;
    transform: translateZ(-2px) scale(3);
    background: rgb(199, 217, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePageButton {
    z-index: 51;
    font-size: clamp(0.8rem, 1vw, 5rem);
    color: #3c3c3c;
    text-decoration: none;
    padding: 4px 4px 4px 6px;
    border-radius: 2px;
    transition:
        padding,
        font-size 300ms ease-in-out;
}

.homePageButton:hover {
    background-color: #a6b5d5;
    cursor: pointer;
    text-decoration: none;
    font-size: clamp(1rem, 1.2vw, 6rem);
    transition:
        padding,
        font-size 300ms ease-in-out;
}

.filler {
    width: 100%;
    height: 1000px;
    position: fixed;
    z-index: 10;
    margin-top: -10px;
}
.bg {
    position: absolute;
    height: 130vh;
    width: 100%;
    top: 0;

    /*rgb(199, 217, 255)*/
    overflow-x: hidden;
    background-color: rgb(255, 246, 232);
}

@keyframes bouncing {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 0;
    }
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: fixed;
    bottom: 1px;
    width: 50px;
    z-index: 20;
    box-shadow: none;
    opacity: 1;
    transition: opacity 0.3s linear;
}
