html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 217, 255);
}
.footer {
    position: fixed;
    bottom: -100px;
    transition: transform 0.5s ease-in-out;
}

html{
    height: max-content;
}
#parallax {
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#gradient {
    background: linear-gradient(-140deg, rgba(2, 0, 36, 1) 40%, rgba(9, 9, 121, 1) 50%, rgba(17, 124, 145, 1) 60%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
    padding-bottom: 30px;
    height: 100%;
}



h1 {
    text-align: center;
    font-size: xx-large;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;

}

#frontPageImg {
    width: 100%;
    height: 100%;
}

#frontPageLinks {
    color: white;
    font-size: 40px;
}

#topBar {
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    font-family: sans-serif;
    max-height: 53px;
    font-weight: bold;
    z-index: 10;
    border-bottom: grey solid 1px;
}

#topBar a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    transition: padding-bottom, font-size 200ms ease-in-out;
}

#topBar a:hover {
    color: #404040;
    transition: padding-bottom, font-size 200ms ease-in-out;
    font-size: 19px;
}

#contactInfo {
    position: fixed;
    width: 100%;
    padding: 17px 17px 39px;
    text-align: center;
    background-color: #000b29;
    box-shadow: 6px 6px 15px #031c37;
    overflow-x: auto;
    z-index: 100;
    bottom: -100px;
    transition: transform 0.5s ease-in-out;

}
#contactInfo.show {
    transform: translateY(-100px);
}

#contactInfo.hide {
    transform: translateY(0);
}

a {
    text-decoration: none;
    color: #0073e6;
}

a:hover {
    text-decoration: underline;
}

#tab {
    margin: 40px auto;
    padding: 20px 20px 35px;
    max-width: 800px;
    background: white;
    border-radius: 10px;

}

#tab h2 {
    border-bottom: 2px solid #0056b3;
    color: #0056b3;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#tab li {
    list-style-type: none;
}


#contactInfo li {
    color: #ededed;
    display: inline-table;
    text-align: center;
    list-style: none;
    margin: 4px 0.25em 0 0.25em;
    text-decoration: none;
}

#contactInfo li a{
    color: #b3bdf6;
    font-variant: small-caps;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

#aboutContent {
    flex: 1;
    margin: 13vh auto 0;
    padding: 3em 2em;
    font-family: sans-serif;
    font-weight: bold;
    max-width: 610px;
}


h2 {
    font-size: 1.4em;
    margin: 0 0.25em 0 0.25em;
    padding: 0;
    font-weight: 600;
    font-variant: small-caps;
}

h3 {
    font-size: 1em;
    margin-top: 0;
}

ol li {
    margin-bottom: 1em;
}

ul {
    margin-top: 4px;
}

ul li {
    margin-bottom: 2px;
}

p {
    border-top: 4px;
    border-bottom: 0;
}

ul li li {
    margin-bottom: 0;
}

img {
    float: right;
    margin: 60px 15px 0 0;
    box-shadow: 3px 3px 6px grey;
}

.base {
    height: 40px;
    width: 260px;
    float: right;
    background-color: #d33939;
    box-shadow: -7px 1px 8px black;
    border: 1px solid black;
}

.button {
    background-color: #d33939;
    border: none;
    color: white;
    padding: 10.902px 10px;
    text-decoration: none;
    float: left;
    font-size: 12px;
    text-shadow: 2px 2px 2px #333;
    position: fixed;
    margin-top: -20px;
    z-index: 2;
}

.button:hover {
    background-color: rgb(198, 54, 54);
    cursor: pointer;
    box-shadow: 1px 1px 6px grey;
}

.topColor {
    color: #ffe4c7;
    width: 100%;
    top: 1px;
    height: 25%;
    z-index: -2;
    position: absolute;
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -2;
    /*rgb(199, 217, 255)*/
    overflow-x: hidden;
    background-color: rgb(199, 217, 255);

}

#name {
    color: #ffffff;
    font-size: 4vh;
    text-align: center;
    width: 100%;
    letter-spacing: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    position: absolute;
    margin-top: 100px;
    will-change: transform;
}

.layer {
    position: absolute;
    top: 15vh;
    padding: 0;
    width: 100%;
    height: 6vh;
    margin: -5vh 0 0;
    will-change: position;
}
.layer svg {
    width: 100%;
    height: auto;
    will-change: position;
}

.parallax {
    height: 150%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
}

.parallax-group {
    overflow-x: hidden;
    position: relative;
    height: 130vh;
    overflow-y: hidden;
}

.parallax-group div {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#bottomParallax {
    bottom: 0;
    width: 100%;
    height: 1px;
    position: sticky;
    padding: 1px;
    background-color: transparent;

}

.content {
    position: relative;
    background-color: transparent;
    letter-spacing: 10px;
    text-transform: uppercase;
    line-height: 40px;
    z-index: 10;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 25vw;
    padding-bottom: clamp(100px, 5vw, 500px);
    transform: translateZ(-2px) scale(3);
}

.homePageButton{
    margin-top: 20px;
    font-size: clamp(.8rem, 1vw, 5rem);
    color: #3c3c3c;
    text-decoration: none;
    padding: 4px 4px 4px 6px;
    border-radius: 2px;
    transition: padding, font-size 300ms ease-in-out;
}
.homePageButton:hover {
    background-color: #a6b5d5;
    cursor: pointer;
    text-decoration: none;
    font-size: clamp(1rem, 1.2vw, 6rem);
    transition: padding, font-size 300ms ease-in-out;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: fixed;
    bottom: 1px;
    width: 50px;
    z-index: 20;
    box-shadow: none;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.hide {
    opacity: 0;
}

@media (max-width: 760px) {
    img {
        display: none;
    }
    #tab {
        padding: 30px;
        margin: 40px auto;
    }
    .button {
        width: 100%;
    }

    .content {
        margin-top: 700px;
    }
    .layer {
        transition: transform 0.1s ease;
    }
    #contactInfo {
        padding: 15px;
    }
}

::-webkit-scrollbar {
    border-radius: 20px;
    width: .4vh;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #505050;
}

::-webkit-scrollbar-thumb:hover {
    background: #303030;
}


.item {
    position: relative;
    margin: 20px;
    padding: 20px;
    background-color: black;
    color: white;
    opacity: 0;
    transition: opacity 0.1s ease-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Keyframes for moving the item up and fading in */
@keyframes moveUp {
    to {
        transform: translateY(50px);
    }
}

#item1, #item2, #item3, #item4, #item5, #item6, #item7 {
    opacity: 1;
}
